<div class="jumbotron">
    <h1 class="display-3">About Game Library</h1>
    <p class="lead">Have you ever wanted a place to show off your Video Game Collection. Well now here is your chance. Sign up now!</p>
    <p class="blockquote-footer">Version 0.0.1</p>
</div>